/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Love Ya Like A Sister';
    src: url('/assets/fonts/LoveYaLikeASister.ttf');
}

@font-face {
    font-family: 'Lobster 1.4';
    src: url('/assets/fonts/Lobster14.otf');
}

/*Paleta de cores*/
.marron-1{
    color:#dd6926
}
.marron-2{
    color:#b25526
}
.marron-3{
    color:#7b3b14
}
.marron-4{
    color:#5d3311
}
.marron-5{
    color:#462710
}

.vermelho{
    color:#a81e22
}
.azul{
    color:#211e5c
}
.laranja{
    color:#f7921e
}
.marron{
    color:#462710
}
.turqueza{
    color:#1c9ba2
}
.marfin{
    background: #fffdd6
}

body{
    background-color: rgb(250,250,250);
}


/*pagination color*/
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus{
    background-color:  #f7921e;
    border-color:#EB7E1E;
}

/*pager color*/
.pager-primary li.next > a,
.pager-primary li.next > span {
  background-color: #f7921e;
  border-color:#EB7E1E;
  color:#fff;
}


/*pager color hover*/
.pager-primary  li.next > a:hover,
.pager-primary  li.next > a:focus {
  text-decoration: none;
  background-color: #f7921e;
}


/*pager color disabled*/
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999 !important;
  background-color: #eeeeee !important;
  border-color:#e2e2e2 !important;
  cursor: not-allowed;
}

.btn:focus{
  outline: none;
}
/*botão primario dropdown cores*/
.btn-primary:hover, .btn-primary:focus, .btn-group.open .dropdown-toggle.btn-primary, .btn-primary{
  background-color: #f7921e;
  border-color: #EB7E1E;
  color: #fff;
}
.btn-primary:active:hover, .btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus, .btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus, .btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  background-color: #f7921e;
  border-color: #EB7E1E;
  color: #fff;
}


.form-group{
  margin-bottom: 5px;
}

.help-block{
  margin-bottom: 0px;
/*  border-radius: 5px;
  position: absolute;
  background-color: white;
  padding: 2px 5px;
  top: 57px;
  font-size: 13px;
  left: 20px;
  border: 1px solid red;
  border-top: white;
  border-top-left-radius: 0;
  border-top-right-radius: 0;*/
}

.has-error .form-control, .has-error .form-control:focus {
  border: 1px solid #f7921e;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label, .has-error .form-control-feedback {
  color: #f7921e;
}

.pagination > li > a, .pager > li > a, .pagination > li > span, .pager > li > span {
  cursor: pointer;
}
